* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 247, 238);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header-nav a {
  text-decoration: none;
  color: #000;
  border-right: 1px solid #000;
  padding: 0 20px;
}

.header-nav a:hover {
  color: rgb(100, 188, 65);
  transition: all 0.5s;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 0 80px;
  opacity: 0;
  transform: translateY(40px); /* 아래에서 시작 */
  animation: fadeUp 0.8s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-img {
  padding-top: 100%;
  background-image: url('./img/profile.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation-delay: 0.2s;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  animation-delay: 0.4s;
}

.profile-info > h1 {
  font-size: 40px;
  font-weight: 800;
}

.profile-intro {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-link {
  display: flex;
  justify-content: center;
  gap: 30px;
  animation-delay: 0.6s;
}

.profile-link > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 100px;

  border-radius: 50%;
  color: #ffffff;
  font-weight: 900;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-link > a:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* 떠오르는 느낌 */
}

.resume-link {
  background-color: #5fa06f;
}

.project-link {
  background-color: #f1cf33;
}

.concat-link {
  background-color: #e04b4b;
}
