* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 254, 250, 0.795);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 130px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header-nav a {
  text-decoration: none;
  color: #000;
  border-right: 1px solid #000;
  padding: 0 20px;
}

.header-nav a:hover {
  color: rgb(100, 188, 65);
  transition: all 0.5s;
}

/* main ---------------------------------------------- */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

.info {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 0 80px;
  opacity: 0;
  transform: translateY(40px); /* 아래에서 시작 */
  animation: fadeUp 0.8s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-img {
  padding-top: 100%;
  background-image: url('./img/profile.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation-delay: 0.2s;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  animation-delay: 0.4s;
}

.profile-info > h1 {
  font-size: 40px;
  font-weight: 800;
}

.profile-intro {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-link {
  display: flex;
  justify-content: center;
  gap: 30px;
  animation-delay: 0.6s;
}

/* wave ------------------------------------- */
.profile-link > .wave > a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 120px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  color: #fff;
  font-weight: 900;

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.wave {
  display: inline-block;
  animation: wave 2s ease-in-out infinite;
}

/* 전체 영역 hover 시 전부 멈춤 */
.profile-link:hover .wave {
  transition: transform 0.3s ease;
}

/* 개별 버튼 hover 시 확대 */
.profile-link a:hover {
  transform: scale(1.1);
}

.wave:hover .resume-link {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(128, 255, 24, 0.2);
}

.wave:hover .project-link {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(238, 255, 0, 0.2);
}

.wave:hover .concat-link {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.2);
}
.resume-link {
  background-color: #5fa06f;
}

.project-link {
  background-color: #f1cf33;
}

.concat-link {
  background-color: #e04b4b;
}

.wave:nth-child(1) {
  animation-delay: 0s;
}

.wave:nth-child(2) {
  animation-delay: 0.3s;
}

.wave:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

/* footer------------------------------------ */

.footer {
  border-top: 1px solid #ccc;
  padding: 20px 100px;
  margin: 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.links {
  display: flex;
  flex-direction: column;
}

.github-icon {
  width: 100px;
}

.notion-icon {
  width: 100px;
  margin-left: 5px;
}

.footer-title {
  font-size: 20px;
  font-weight: 900;
}

.footer-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-email {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  /* 모바일 스타일 */
  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 20px;
  }
}
